{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Pokemonologia</title>
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
</head>

<body>
    <header>
        <img src="{% static 'icons/logo.png' %}" alt="Logo Pokemonologia">
    </header>
    <main>
        <section class="info">
            <h1>Saiba o pokémon mais forte de classes específicas.</h1>
            <p>Receba notificação no e-mail caso surja um mais forte.</p>
        </section>
        <section class="formulario">
            <form method="post">
                <h1>Login</h1>
                {% csrf_token %}
                
                <label for="id_username">Username:</label>
                <input type="text" id="id_username" name="username" placeholder="Digite seu username:" required>
                <br>
            
                <label for="id_password">Senha:</label>
                <input type="password" id="id_password" name="password" placeholder="Digite sua senha:" required>
                <br>
            
                <button type="submit">Logar-se</button>
            
                {% if messages %}
                    <div class="error-messages">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            
                <p>Não tem uma conta? <a href="{% url 'register' %}">Crie</a></p>
            </form>
        </section>
    </main>
    <script src="{% static 'javascript/pokemonologia.js' %}"></script>
</body>

</html>
