{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Pokemonologia</title>
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'icons/logo.png' %}" alt="Logo Pokemonologia">
    </header>
    <main>
        <section class="info">
            <h1>Saiba o pokémon mais forte de classes específicas.</h1>
            <p>Receba notificação no e-mail caso surja um mais forte.</p>
        </section>
        <section class="formulario">
            <form method="post">
                {% csrf_token %}
                <label for="id_username">Nome:</label>
                <input type="text" id="id_username" name="username" placeholder="Digite seu nome:" required>
                <br>
            
                <label for="id_email">Email:</label>
                <input type="email" id="id_email" name="email" placeholder="Digite seu email:" required>
                <br>
            
                <label for="id_password">Senha:</label>
                <input type="password" id="id_password" name="password" placeholder="Digite sua senha:" required>
                <br>
            
                <button type="submit">Cadastre-se</button>
                            
                <p>Já tem uma conta? <a href="{% url 'login' %}">Faça o login</a></p>
            </form>
        </section>
    </main>
    <script src="{% static 'javascript/pokemonologia.js' %}"></script>
</body>
</html>
