*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
}
header img{
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px 50px;
    width: 350px;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: sans-serif;
    width: 50vw;
    height: 100vh;
    background-image: url("https://preview.redd.it/color-wheel-pok%C3%A9mon-version-v0-b1b33ngt7z5b1.png?auto=webp&s=085be28fb46e7555fc8ebe9af32925b516e9340b");
    background-size: cover;
    background-position: center;
}
.info h1, p{
    font-size: 2.7rem;
    width: 40vw;
    background-color: rgba(240, 248, 255, 0.473);
    padding: 10px 20px;
    border-radius: 15px;
}
.info p{
    font-size: 1.5rem;
}
.formulario{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    background-color: rgb(0, 17, 49);
}
.formulario h1{
    margin-bottom: 5vh;
}
.formulario form{
    border-radius: 15px;
    background-color: #00000054;
    padding: 40px 30px;
    font-size: 1.5rem ;
    font-family: sans-serif;
    color: #fff;
    width: 30vw;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
}
.formulario input{
    font-size: 1rem;
    outline: none;
    border: #fff 1px solid;
    background: none;
    color: #fff;
    height: 10vh;
    border-radius: 5px;
    padding: 0px 5px;
}
.formulario button{
    cursor: pointer;
    outline: none;
    border: #000 solid 1px;
    height: 7vh;
    background-color: #fff;
    border-radius: 5px;
}
.formulario p{
    font-size: 1rem;
    background: none;
}
.formulario a{
    color: rgb(0, 162, 255);
}

.mensagens p {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.mensagens p.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
.mensagens p.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}
