*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none;
}
header{
    top: 0;
    position: absolute;
    height: 5vh;
    width: 100vw;
}
.logo{
    width: 100px;
    margin: 50px 80px;
    border-radius: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #fa6bba;
}
main{
    padding: 10px 20px;
    border-radius: 25px;
    width: 40vw;
    height: 80vh;
    background-color: #fff1dd7e;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    color: #fff;
    font-size: 2.3vw;
    font-family: sans-serif;
    width: 30vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form input{
    background-color: #ffffff8e;
    border: none;
    height: 7vh;
    outline: none;
    padding: 0px 10px;
    border-radius: 10px;
    font-size: 1.2rem;
}
a{
    color: rgb(0, 132, 255);
}
.criarConta {
    color: rgb(93, 99, 97);
    font-size: 1.3vw;
}
button{
    font-size: 1.6rem;
    color: #fff;
    border: none;
    height: 7vh;
    background-color: #b521e28e; 
}
