main{
    width: 100vw;
    display: flex !important;
    justify-content: center;
    gap: 25px;
}
.photo{
    border-radius: 10px;
    background-color: #fff;
    width: 45vw;
    height: 45vw; 
}
.photo img{
    width: 45vw;
    height: 45vw; 
}
.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #fff;
    width: 45vw;
    height: 45vw;
}
.preco-container{
    display: flex;
    gap: 20px;
    align-items: center;
}
.number{
    width: 6vw !important;
}
.title{
    font-size: 1.6rem;
    color: #FD82B0;
}
.description button{
    margin: auto;
    background-color: #2DAE2F;
    width: 40vw;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    text-align: center;
}
.modal button {
    background-color: #FD82B0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.modal button:hover {
    background-color: #f16f9f;
}

.modal h2{
    color: #505050;
}
.modal p{
    color: #797979;
}